*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    background-color: black;
    justify-content: space-around;
}

.logoheader{
    background-image: linear-gradient(#182f7b,#32187b);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


form{
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    margin: 10px 0;
    width: 24%;
}

.buscador{
    outline: none;
    border: none;
    background-color: white;
    margin-left: 10px;
    padding-right: 175px;
}

.botonbuscador{
    border: none;
    background-color: white;
}

nav{
    display: flex;
}


.buttonsheader{
    display: flex;
    list-style-type: none;
    margin: auto;
}

.linav{
    padding-right:20px;
}

.buttonnav{
    background-color: black;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    background-image: linear-gradient(#182f7b,#32187b);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(5,7,12,0.65), rgba(5,7,12,0.65)), url(images/newlabel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


section{
    height: 90vh;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.genericpodcast{
    color: white;
}

.titulopodcast{
    padding-bottom: 15px;
}

.descripcionpodcast{
    width: 350px;
    line-height: 25px;
}

.suscribirse{
    width: 18vw;
    height: 6vh;
    background-image: linear-gradient(#182f7b,#32187b);
    font-size: 18px;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
}

:hover.suscribirse{
    background-color: white;
    color: white;
    border: 2px solid blue;
}


footer{
    background-color: rgb(102, 92, 92);
    display: flex;
    width: 100%;
    height: 40vh;
    justify-content: space-around;
}

.containerfooterhear2me{
    width: 20vw;
}

.h3hear2mefooter{
    text-align: center;
}

.phear2mefooter{
    text-align:justify;
    line-height: 40px;
}

.footericonos{
    display: flex;
    flex-direction: column;
}

.fa-brands{
    height: 10vh;
    padding: 10px 0;
}

.divusefulllinks{
    display: flex;
    flex-direction: column;
}

.usefulllinks{
    height: 10vh;
    padding: 7px 0;
}

.containercontactus{
    display: flex;
    flex-direction: column;
}

.contentcontactus{
    display: flex;
    padding-top: 20px;
}